.mobile-page-header {
  position: relative;
  z-index: 11;
  display: flex;
  width: 100%;
  min-height: 64px;
  margin: 18px 0 0;
  padding: 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}

.mobile-page-header-back {
  position: absolute;
  z-index: 12;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}
