# URL gerada na oracle para o object storage que contem o arquivo com os embeddings calculados
OCI_PAR_BASE_URL=

# Autenticaçao
# Autenticação é gerenciada pelo Auth Service (repositório separado)
# Ver: https://github.com/matheus-battiston/AuthMatheus
# Path em que esta o projeto de autenticaçao, sera utilizado no comando "npm run dev"
AUTH_PATH=