.exibir-elenco-web {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 0;
  flex-direction: column;
  background: var(--app-background);
}

.exibir-elenco-web-serie-info-input {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.exibir-elenco-web-input-personagem {
  flex-shrink: 0;
  margin-top: 60px;
  margin-right: 10px;
}

.exibir-elenco-web-lista-personagens {
  display: flex;
  width: calc(100% - 40px);
  min-height: 0;
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin: 20px 20px 0;
  overflow: auto;
  padding-bottom: 20px;
}

@media (max-width: 583px) {
  .exibir-elenco-web-input-personagem {
    margin-top: 10px;
  }
}
