#URL da api do WHOTHIS
REACT_APP_API_URL=http://localhost:8081


#Autenticaçao
# Autenticação é gerenciada pelo Auth Service (repositório separado)
# Ver: https://github.com/matheus-battiston/AuthMatheus
REACT_APP_API_LOGIN_URL=http://localhost:8080