# Ignorar arquivos temporários e do sistema
*.pyc
*.pyo
__pycache__
*.git
*.gitignore
*.dockerignore
*.env
*.log
node_modules
.env
*.db
*.sqlite3

# Ignorar diretórios desnecessários
tests
src/embeddings/
src/saved_facenet_model/
src/deepface/