# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

opencv-python==4.5.4.60
onnxruntime==1.19.2
mtcnn-onnxruntime
numpy==1.26.4
pillow
python-multipart
azure-storage-blob
retrying
faiss-cpu
psutil
fastapi
uvicorn
psycopg2
