.container-producoes {
  display: flex;
  align-items: center;
  background: var(--app-background);
  height: 100dvh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}

.loading {
  color: white;
  font-size: 24px;
}
