.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.film-reel {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid white;
  border-top: 6px solid gray;
  animation: spin 1s linear infinite;
}

.loading-text {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
