.container-favoritos {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.title-favoritos {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.page-favoritos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
