.containerOpcoesAtores {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  background-color: rgb(15, 9, 94);
  width: 100%;
  height: 100svh; /* Usando svh para a altura */
}

.opcoes {
  display: flex;
  justify-content: center; /* Mantém os itens centralizados */
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espaçamento entre os itens */
  max-width: 90vw; /* Evita que ocupe toda a largura da tela */
  width: auto; /* Mantém o tamanho ajustável */
  padding: 10px;
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%; /* Ajusta o item ao tamanho disponível */
  max-width: 300px; /* Define um tamanho máximo */
  min-width: 150px; /* Evita que encolha demais */
}
