POSTGRES_HOST=
DB_PASSWORD=
DB_USER=
DB_URL=jdbc:postgresql://host.docker.internal:5432/WhoThisActor
CLASSIFYADDRESS=http://host.docker.internal:8000/classify
JWT_PUBLIC_KEY=
TMDBAPIKEY=
CLASSIFY_CACHE_RELOAD_ADDRESS=http://host.docker.internal:8000/cache/atores-por-producao/recarregar
AUTH_URL=http://host.docker.internal:8080
FRONT_URL=http://localhost:3000/